<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Weather HTML Template</title>

        <style>
            * {
              box-sizing: border-box;
            }
            .column {
              float: left;
              width: 50%;
              padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>

    </head>

    <body>
        <div>
            Current weather is:
            <ul>
                <li>Time of Day: {{ time }}</li>
                <li>Location: {{ location }}</li>
                <li>Temperature: {{ temperature }}</li>
                <li>Windspeed: {{ windspeed }}</li>
                <li>Conditions: {{ conditions }}</li>
                <li>Rain: {{ rain }}</li>
            </ul>
        </div>
        <div class="row">
            <div class = "column">
                <figure>
                    <img src = {{ icon_a }} style="width:100%">
                    <figcaption> Temperature Assessment </figcaption>
                </figure>
            </div>
            <div class = "column">
                <figure>
                    <img src = {{ icon_b }} style="width:100%">
                    <figcaption> Rain Assessment </figcaption>
                </figure>
            </div>
        </div>
    </body>
</html>