<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather HTML Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<div>
        Current weather is:
        <ul>
        <li>Time of Day: {{ time }}</li>
        <li>Location: {{ location }}</li>
        <li>Temperature: {{ temperature }}</li>
        <li>Windspeed: {{ windspeed }}</li>
        <li>Conditions: {{ conditions }}</li>
        <li>Rain: {{ rain }}</li>
        </ul>
</div>
</body>
</html>